<ion-content [fullscreen]="true">
  <ul class="spent-list-wrap" *ngIf="spents.length > 0">
    <li [ngClass]="{ 'spent-list': true, 'marked-spent': spent.marked }" *ngFor="let spent of spents"
      (click)="markSpent(spent.id)">
      <div class="checkbox-container">
        <input type="checkbox" [checked]="spent.marked">
        <span class="checkmark" (click)="markSpent(spent.id); $event.stopPropagation()"></span>
      </div>
      <div [ngClass]="{ 'cutted': spent.marked, 'info-container': true }">
        <span class="description-info">{{ spent.description }}</span>
        <span class="amount-info">€ {{ spent.amount }}</span>
      </div>
    </li>
  </ul>
  <span class="warning-no-spent" *ngIf="spents.length < 1">
    There is no spents at the moment
  </span>
</ion-content>